@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap');

/* ELEMENTS */
* {
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
	list-style: none;
	box-sizing: border-box;
}
html {
	font-size: 14px;
}
body {
	width: 100vw;
	height: 100vh;
	font-size: 0.88rem;
	background: var(--color-dark);
	transition: var(--tran-05);
	overflow-x: hidden;
	user-select: none;
}
a{
	color: var(--color-dark);
}
img {
	display: blocl;
	width: 100%;
}
h1 {
	font-weight: 800;
	font-size: 1.8rem;
}
h2 {
	font-size: 1.4rem;
}
h3 {
	font-size: 0.87rem;
}
h4 {
	font-size: 0.8rem;
}
h5 {
	font-size: 0.77rem;
}

/* ----- Reusables ----- */

.bg-black {
	background: #000;
}
.bg-red {
	background: red;
}
.bg-white {
	background: #fff;
}

.d-row {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.gradient-black-to-bottom {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 90px;
	z-index: 10;
	background: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0.8), rgba(0,0,0,0.5), rgba(0,0,0,0.3), transparent);
}

.gradient-black-to-top {
	position: absolute;
	top: 0;
	width: 100%;
	height: 90px;
	z-index: 10;
	background: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0.8), rgba(0,0,0,0.5), rgba(0,0,0,0.3), transparent);
}

.container-padding {
	padding: 100px 0;
}

.fade-in {
	position: relative;
	transform: translateY(150px);
	opacity: 0;
	transition: all 2s ease-in-out;
}

.fade-in.active {
	opacity: 1;
	transform: translateY(0px);
}

.grow {
	position: relative;
	height: 0px;
/*	transform: translateY(-1000px);*/
	opacity: 0;
	transition: all 2s ease-in-out;
}

.grow.active {
	height: 100%;
	opacity: 1;
	transform: translateY(0px);
}

.vertical-line {
	content: '';
	position: absolute;
	top: 100px;
	z-index: 2;
	background: var(--color-white);
	max-height: 800px;
	transition: var(--tran-03);
	width: 3px;
}
.vertical-line.right {
	right: 200px;
}
.vertical-line.left {
	left: 200px;
}

.section-divider {
	position: relative;
	height: 50vh;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.31) 0%, rgba(0, 0, 0, 0.76) 100%), url('../src/img/765731.jpg') no-repeat fixed center / cover;
	display: flex;
	align-items: center;
	text-align: center;
	overflow: hidden !important;
}
.section-divider .title {
	position: fixed;
	opacity: 0;
	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
	z-index: 0;
	color: transparent;
	width: 100%;
	font-size: 7rem;
	text-transform: uppercase;
	white-space: nowrap;
	-webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: var(--color-white);
}


/* ----- Index ----- */

.hightlight {
	background: #a7d7e5;
	position: relative;
	overflow: hidden;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.hightlight .hightlight-bg {
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.31) 0%, rgba(0, 0, 0, 0.56) 100%), url('../src/img/765731.webp') no-repeat center / cover;
	position: absolute;
/*	top: -100;*/
	width: 130%;
	height: 100%;
	z-index: 0;
	transition: var(--tran-02);
}
.hightlight .row {
	position: relative;
	width: 100%;
}
.hightlight .name {
	position: absolute;
	top: -50px;
	z-index: 2;
	color: var(--color-white);
	width: 100%;
	font-size: 7rem;
	text-transform: uppercase;
	white-space: nowrap;
    transition: var(--tran-05);
/*	color: transparent;*/
/*	-webkit-text-stroke-width: 3px;*/
/*  -webkit-text-stroke-color: var(--color-white);*/
}
.hightlight .layer-1 {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	background: url('../src/img/layer1.png') no-repeat center / cover;
	height: 100%;
	width: 100%;
	transition: var(--tran-03);
}
.hightlight .layer-2 {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 9;
	background: url('../src/img/layer2lg.png') no-repeat fixed center / cover;
	height: 100%;
	width: 100%;
	transition: var(--tran-02);
}
.hightlight .layer-3 {
	position: absolute;
	top: 0;
	right: 0;
	margin-right: 0px;
/*	transform: translateX(-10%);*/
	z-index: 1;
	background: url('../src/img/layer3lg.png') no-repeat center center / cover;
	height: 100%;
	width: 100%;
	transition: var(--tran-03);
}

/* ----- c-1 ----- */

.c-1{
	height: 100vh;
	position: relative;
	overflow: hidden;
	z-index: 10;
	background: black;
}
.c-1 .container {
	height: 100%;
	display: flex;
	align-items: center;
}
.c-1-texts {
	width: 1000px;
}
.c-1 .before-name {
	font-size: 70px;
}
.c-1 .name {
	font-size: 200px;
}

/* ----- c-2 ----- */

.c-2 {
	position: relative;
	overflow: hidden;
	height: 100%;
	width: 100%;
	z-index: 10;
	background: black;
}
.c-2 .layer-1 {
	position: absolute;
	top: 0;
	right: 0;
	margin-right: 0px;
	z-index: 4;
	background: url('../src/img/c-2 layer1.png') no-repeat center center / cover;
	height: 100%;
	width: 100%;
	transition: var(--tran-03);
}
.c-2 .layer-2 {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 3;
	background: url('../src/img/c-2 layer2.png') no-repeat center center / cover;
	height: 100%;
	width: 100%;
	transition: var(--tran-03);
}
.c-2 .layer-3 {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
	background: url('../src/img/c-2 layer3.png') no-repeat fixed center / cover;
	height: 100%;
	width: 100%;
	transition: var(--tran-03);
}
.c-2 .description {
	position: absolute;
	z-index: 2;
	color: var(--color-white);
	width: 100%;
	font-size: 2rem;
	margin-left: 30px;
	text-transform: uppercase;
	white-space: nowrap;
	text-align: center;
	transition: var(--tran-02);
}
.c-2 .description .d-1 strong {
	font-size: 3rem;
}
.c-2 .container {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 2;
}
.c-2-h {
	height: 30px !important;
}

/* ----- c-3 ----- */

.c-3 {
	position: relative;
	overflow: hidden;
	width: 100%;
	z-index: 11;
	background: black;
}
.c-3 .list-group-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100px;
}
.c-3 .list-group-1 i {
	font-size: 100px;
}
.c-3 .list-group-2 i {
	font-size: 50px;
}

/* ----- c-4 ----- */

.c-4 {
	background: #000;
	position: relative;
	overflow: hidden;
	width: 100%;
	z-index: 10;
}
.c-4 .carousel {
	overflow: hidden;
	border-radius: var(--border-radius-3);
}
.c-4 #carouselDesignsWork .carousel-inner {
	height: 700px;
	background: #111;
}
.c-4 .control-bg {
	position: relative;
	background: var(--color-primary);
	z-index: 999;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 10px;
	border-radius: 25px;
}
.c-4 #carouselDesignsWork .carousel-item {
	height: 100%;
	background-size: cover;
}
.c-4 #carouselDesignsWork .carousel-item img {
	height: 100%;
	object-fit: contain;
}

/* ----- c-5 ----- */

.c-5 {
	background: #000;
	position: relative;
	overflow: hidden;
	width: 100%;
	z-index: 10;
}
.c-5 .vl-2 {
	top: 90px;
}
.c-5 .image{
	position: relative;
	overflow: hidden
}
.c-5 .title{
	font-size: 5rem;
}
.c-5 .description{
	text-align: justify;
}
.c-5 .footer-socials {
	width: 100%;
}
.c-5 .footer-socials a{
	background: unset;
	border: unset;
	padding: 10px 0px 10px 0px;
	display: flex;
	align-items: center;
	color: var(--color-white);
}
.c-5 .footer-socials a i{
	font-size: 40px;
	padding-right: 20px;
}
.c-5 .footer-socials a h3{
	margin: 0;
}
.c-5 #send-email label {
	color: var(--color-white);
}
.c-5 #send-email input {
	width: 100% !important;
	background: #000; !important;
	color: var(--color-white);
}
.c-5 #send-email textarea {
	width: 100% !important;
	background: #000; !important;
	color: var(--color-white);
}
.c-5 #send-email input::placeholder,
.c-5 #send-email textarea::placeholder {
	color: var(--color-white);
}

/* ----- Media Queries ----- */

@media only screen and (max-width: 992px) {
	.hightlight .name {
		top: -100px;
	}
	.c-3 .list-group-1 i, 
	.c-3 .list-group-2  i{
		font-size: 50px;
	}
}

@media only screen and (max-width: 767px) {
	/* ----- Highlight ----- */
	.hightlight {
		overflow: hidden;
	}
	.hightlight .name {
		top: -100px;
	}
	/* ----- c-1 ----- */
	.c-1 .vl-1 {
		z-index: 0;
	}
	.c-1 .c-1-texts {
		width: 100%;
		text-align: center;
	}
	.c-1 h1 {
		width: 100%;
		background: #000;
	}
	.c-1 .before-name {
		font-size: 2rem;
	}
	.c-1 .name {
		font-size: 6rem;
	}

	/* ----- c-2 ----- */

	.c-2 .description {
		text-align: center;
		margin-left: 0;
	}
	.c-2 .description .d-1 {
		font-size: 1.3rem;
	}
	.c-2 .description .d-1 strong {
		font-size: 2.5rem;
	}

	/* ----- c-3 ----- */

	.c-3 .awards {
		padding: 30px;
	}
	.c-3 .awards .col-4 {
		padding: 0;
	}
	.c-3 .awards .col-4 h1{
		font-size: 1.4rem;
	}
	.c-3 .list-group-1 , 
	.c-3 .list-group-2  {
		padding: 40px 0 0 0;
	} 
	.c-3 .list-group-1 i, 
	.c-3 .list-group-2  i{
		font-size: 50px;
	}

	/* ----- c-4 ----- */

	.c-4 .works {
		padding-left: 20px;
		padding-right: 20px;
	}
	.c-4 .works h2 {
		font-size: 1.01rem;
	}
	.c-4 .works h1 {
		font-size: 1.4rem;
	}
	.c-4 #carouselDesignsWork .carousel-inner {
		height: 600px !important;
	}
	.c-4 .carousel-inner {
		background: #111;
		height: 600px;
	}
	.c-4 .control-bg {
		width: 40px;
		height: 40px;
	}
	.c-4 .carousel-item {
		height: 100%;
		object-fit: cover;
	}
	.c-4 .carousel-item img{
		height: 100%;
		object-fit: contain;
	}

	/* ----- c-5 ----- */
	.c-5 .vl-2 {
		z-index: 0;
	}
	.c-5 .contacts{
		padding-top: 20px;
	}
	.c-5 .list-group {
		background: #000;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
	.c-5 .footer-socials a {
		display: flex !important;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.c-5 .footer-socials a i {
		color: #fff;
		padding: 0px 0px 10px 0px;
	}
	.c-5 .footer-socials a h3 {
		color: #fff;
	}
	.c-5 #send-email label {
		color: #fff;
	}
	.c-5 #send-email input {
		color: #fff;
	}
	.c-5 #send-email textarea {
		color: var(--color-white);
	}
	.c-5 #send-email input::placeholder,
	.c-5 #send-email textarea::placeholder {
		color: #fff;
	}
}

/* ----- PRESETS ----- */

:root {
	/* ===== Colors	===== */

	--color-primary: #7380ec;
	--color-danger: #ff7782;
	--color-success: #41f1b6;
	--color-warning: #ffbb55;
	--color-white: #fff;
	--color-info-dark: #7d8da1;
	--color-info-light: #dce1eb;
	--color-dark: #363949;
	--color-light: rgba(132, 139, 200, 0.18);
	--color-primary-variant: #111e88;
	--color-dark-variant: #677483;
	--color-background: #f8f8f9;

	--card-border-radius: 2rem;
	--border-radius-1: 0.4rem;
	--border-radius-2: 0.8rem;
	--border-radius-3: 1.2rem;

	--card-padding: 1.8rem;
	--paddding-1: 1.2rem;

	--box-shadow: 0 2rem 3rem var(--color-light);

	/* ===== Transition	===== */

	--tran-02: all 0.2s ease;
	--tran-03: all 0.3s ease;
	--tran-04: all 0.4s ease;
	--tran-05: all 0.5s ease;
}